@font-face {
    font-family: Raleigh;
    src:url(raleigh.ttf);
}

body {
    margin: 0;
    font-family: Raleigh, Arial, sans-serif;
    background-color: #f4f1e9;
    color: #8d3c38;
}

/* Title styling */
.title {
    color: #8d3c38;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-top: 20px;
    font-family: Raleigh, Arial, sans-serif;
}

#container3D2 {
    height: 26.190rem;
    position: relative;
    width: 60%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #ebb47a;
    border-radius: 10px;
}

.info {
    color: #8d3c38;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    font-family: Raleigh, Arial, sans-serif;
    place-items: center;
    padding: 10px;
}

.info p{
    color: #251413;
}

.button {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-family: Raleigh, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin: auto;
    display: flex;
    align-items: center;
}

.button img{
    width: 50px;
    height: 50px;
}