@font-face {
    font-family: Raleigh;
    src:url(raleigh.ttf);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f1e9;
    color: #4b3e32;
}

/* Title styling */
.title {
    color: #4b3e32;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-top: 20px;
    font-family: Raleigh;
}

#container3D2 {
    height: 26.190rem;
    position: relative;
    width: 60%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid #ebb47a;
    border-radius: 10px;
}

.info {
    color: #4b3e32;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px;
    font-family: Raleigh;
    place-items: center;
    padding: 10px;
}