@font-face {
    font-family: Raleigh;
    src:url(raleigh.ttf);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ceb8a4;
    color: #8d3c38;
    font-family: Raleigh;
}

.container {
    width: 90%;
    margin: auto;
    padding : 40px 0;
    padding-top: 0px;
    height: 900px;
    text-align: center;
}

title {
    color: #8d3c38;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-top: 20px;
    
}

.gallery {
    display: flex;
    gap: 5px;
    height: 900px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 33.33%;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.button {
    background-color: #8d3c38;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: Raleigh;
    border-radius: 10px;
}