@font-face {
    font-family: Raleigh;
    src:url(raleigh.ttf);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ceb8a4;
    color: #f4f1e9;
}

.title {
    color: #4b3e32;
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-top: 20px;
    font-family: Raleigh;
}

.carousel-container {
    width: 45vw;
    overflow: hidden;
    position: relative;
    height: auto;
    max-height: 40vh;
    padding-bottom: 30%;
    background-color: #4b3e32;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: #4b3e32 5px solid;
    border-bottom: #4b3e32 5px solid;
    border-width: 1ch;
    border-radius: 30px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    margin-top: 100px;

}

.carousel img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; 
}

.main {
    font-family: Arial, sans-serif;
    color: #000000;
    text-align: center;
}

.main h3{
    color: #4b3e32;
    font-size: 24px;
    font-weight: 600;
    margin-top: 20px;
    font-family: Raleigh;
}

.video-container video{
    margin-top: 20px;
    width: 70vw;
}

.button {
    background-color: #8b5e3c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: Raleigh;
    border-radius: 10px;
}

/* Media query for mobile view */
@media (max-width: 1024px) {
    .carousel img {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .carousel-container {
        width: 100%;
    }
}
