/* Overlay for progress bar */
.progress-bar-container {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 100%; /* Match the width of .container */
    height: 200%; /* Match the height of .container */
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Progress bar styling */
#progress-bar {
    width: 50%;
    height: 1%;
    margin-top: 0.5%;
}

.progress-label {
    color: white;
    font-size: 2rem;
}